Body{
	background-color: black;
	font-family: 'Lato', sans-serif;
font-family: 'Roboto Slab', serif;	
	text-align: center;
	color:white;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 80px 0;
}

.banner h1 {
  margin: 0;
  color: yellow;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 80px;
  font-weight: bold;
}

h1{
	color:white;
	font-size: 80px;
font-family: 'Lato', sans-serif;
}


.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  font-family: 'Roboto Slab', serif;	

}

.links {
  display: flex;
  justify-content: flex-end;
}

.link {
  margin: 10px 30px;
  color: black;
}

.link:hover {
  color: yellow;
}

.epee {
  height: 60px;
  margin: 5px;
}

.my-btn {
	background: black;
	padding: 15px;
	margin: 15px;
	display: inline-block;
	border: 2px solid yellow;
	border-radius: 15px;
	color: white;
}

.my-btn:hover{
	color:yellow;
}

.modal-body{
	color: black;
}

.fa-envelope{
	color:yellow;
}

.cadre {
	background: yellow;
	border: 5px solid white;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 10px 10px 10px black;
}

.cadre,ul{
	text-align: left;
	font-family: 'Roboto Slab', serif;	
	font-size: 22px;
}

.box{
	margin: 200px;
	text-align: center;
}


.box, p{
font-family: 'Roboto Slab', serif;	
	color:black;
	font-size: 19px;
}


.box,h2{
	color: black;
font-family: 'Lato', sans-serif;
	font-size: 30px;
}

.quelquesphotos{
	display:flex;
	justify-content: space-around;
	margin:100px;
}

.imagegot{
	width: 300px;
	height: 400px;
	object-fit: cover;
}

.footer {
  background: yellow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: black;
}
